# Android
android/.gradle/
android/app/build/
android/local.properties
*.iml

# IDE
.idea/

# Python
backend/__pycache__/
backend/myenv2/
backend/**/__pycache__/
*.pyc

# macOS
.DS_Store

# OS
Thumbs.db
