[Unit]
Description=MicroShare Flask Application
After=network.target mysql.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/microshare
Environment="PATH=/var/www/microshare/venv/bin"
Environment="DB_HOST=127.0.0.1"
Environment="DB_USER=microshare"
Environment="DB_PASSWORD=MicroShare@2026"
Environment="DB_NAME=microshare_db"
Environment="SECRET_KEY=microshare_production_secret_key_2026"
ExecStart=/var/www/microshare/venv/bin/gunicorn -w 4 -b 127.0.0.1:5000 app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
